.container {

  display: flex;
  align-items: center;
  
  cursor: pointer;
  user-select: none;

}

.label {

  display: flex;
  align-items: center;
  position: relative;

  span {

    font-size: 12px;
    font-weight: 400;
    color: #ffffff99;
    line-height: 1.2;
    margin-left: 10px;

  }

}

.checkmark {

  height: 20px;
  width: 20px;
  border-radius: 6px;
  background-color: #1D2649;
  transition: background-color .25sn ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #ffffff;
    visibility: hidden;
  }

}

.check {
  
  background-color: #3396FB;

  svg {
    visibility: visible;
    animation: bounce 0.5s;
  }

}

@keyframes bounce {
  
  0% { transform: scale(.2) rotate(4deg);}
  50% { transform: scale(1.2) rotate(-2deg);}
  75% { transform: scale(0.9) rotate(1deg);}
  100% { transform: scale(1) rotate(0deg);}

}