.radio {

  position: relative;

  input[type=radio] {
    
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    height: 100%;

    &:checked {

      + label {

        .innerButton {
          
          border: solid 1px #3598fe;

          span {
            color: #ffffff;
          }

          .preIcon {
            color: #ffffff;
          }
          
        }

        .simpleButton {
          span {
            color: #ffffff;
          }
        }

      }

    }

  }

  .innerButton {

    border: solid 1px transparent;
    transition: background-color 0.2s ease;
    background: #0e153180;
    border-radius: 6px;
    padding: 0 15px;

    height: 46px;
    width: 100%;

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span {
      pointer-events: none;
      color: #ffffff80;
      font-size: 13px;
    }

    &:hover {
      background-color: #0E1531BF;
    }

  }

  .simpleButton {

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span {
      transition: color 0.2s ease;
      pointer-events: none;
      color: #ffffff80;
      font-size: 13px;
    }

    &:hover {
      span {
        color: #ffffff;
      }
    }

  }

  label {

    height: 100%;
    width: 100%;

  }  

}

.error {
  
  .innerButton {
    border: solid 1px #870f0f;
  }
  
}

.left {
  display: flex;
}

.preIcon {

  color: #ffffff80;
  font-size: 20px;
  margin-right: 4px;

}

.checkIcon {

  right: 10px;
  position: absolute;
  font-size: 20px;
  color: #3395FA;
  animation: bounce 0.75s;

}

@keyframes bounce {
  
  0% { transform: scale(.2) rotate(-5deg);}
  50% { transform: scale(1.3) rotate(5deg);}
  60% { transform: scale(0.9) rotate(0deg);}
  80% { transform: scale(1) }
  100% { transform: scale(1) }

}


