

body {
  padding: 0;
  margin: 0;
}

span, div, h1, h2, h3, h4, h5, h6, button, input {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {

  cursor: pointer;
  color: #029CFD;
  text-decoration: none;

  &:hover {
    color: #0083d4;
  }

}

strong {
  font-weight: 500;
}