

.defaultInput {
  height: 100%;
}

.floatingInput {

  font-size: 13px;
  color: #000000D9;
  caret-color: #000000D9;
  
}

/* --------------------------------- */

.floatingInput::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floatingInput:disabled:not(.floatingInput[data-locked="true"]) {
  opacity: .5; 
}

.floatingInput:disabled :not(.floatingInput[data-locked="true"]) {
  opacity: .5; 
}

.floatingLabel {
  
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;

  font-size: 16px;

}

.floatingLabel::before {

  color: #00000099;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease-out;
  position: relative;
  
}

.floatingInput:placeholder-shown + .floatingLabel::before {
  transform: translate3d(0, -32px, 0) scale3d(.8, .8, 1);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

.floatingLabel::before,
.floatingInput:focus + .floatingLabel::before {
  transform: translate3d(0, -40px, 0) scale3d(0.76, 0.76, 1);
}

.floatingInput:focus + .floatingLabel::before {
  color: #00000099;
}

.floatingInput {
  &input:-webkit-autofill, 
  &input:-webkit-autofill:focus, 
  &input:-webkit-autofill:hover {
    -webkit-text-fill-color: #3496fa !important;
    -webkit-box-shadow: 0 0 0 30px #151d3d inset !important;
  }
}

