.formElement {

  
  transition: background-color 0.2s ease;
  border-radius: 6px;
  padding: 0px 15px;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: space-between;
  
}

.floatingInput {

  font-size: 13px;
  color: #ffffffD9;
  caret-color: #ffffffD9;
  
}

.middle {
  width: 100%;
  justify-self: flex-start;
}

/* --------------------------------- */

.filled {

  background-color: #0E153180;
  
  &:hover, &:focus-within {
    background-color: #0E1531BF;
  }

}

.inverted {

  border: 1px solid #505A7D99;
  
  &:hover, &:focus-within {
    border-color: #3598FE;
  }

}

.dashed {

  .errorBorder { 
    border-style: dashed;
  }

  &::after {
    content: '';
    position: absolute;
    border: 1px dashed #505A7D99;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &:hover, &:focus-within {
    &::after {
      border-color: #505A7D;
    }
  }

}

/* --------------------------------- */

.small {
  height: 40px; 
  padding-top: 13px;
}

.medium {
  height: 46px; 
  padding-top: 13px;
}

.large {
  height: 50px; 
  padding-top: 13px;
}


/*
.formElement:hover .floatingInput {
  
}
*/
.floatingInput::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floatingInput:disabled:not(.floatingInput[data-locked="true"]) {
  opacity: .5; 
}

.floatingInput:disabled :not(.floatingInput[data-locked="true"]) {
  opacity: .5; 
}

.floatingLabel {
  
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;

}

.floatingLabel::before {

  color: #ffffff99;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease-out;
  position: relative;
  
}

.floatingInput:placeholder-shown + .floatingLabel::before {
  transform: translate3d(0, -32px, 0) scale3d(.8, .8, 1);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

.floatingLabel::before,
.floatingInput:focus + .floatingLabel::before {
  transform: translate3d(0, -40px, 0) scale3d(0.76, 0.76, 1);
}

.floatingInput:focus + .floatingLabel::before {
  color: #ffffff99;
}

.floatingInput {
  &input:-webkit-autofill, 
  &input:-webkit-autofill:focus, 
  &input:-webkit-autofill:hover {
    -webkit-text-fill-color: #3496fa !important;
    -webkit-box-shadow: 0 0 0 30px #151d3d inset !important;
  }
}

.hiddenVisually {

  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

}

.prefix {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.suffix {

  display: grid;
  grid-column-gap: 5px;
  grid-auto-flow: column;
  align-items: center;
  justify-self: flex-end;
 
}

.lockIcon {

  fill: #ffffff80;

}

.failed, .success, .warning {

  margin: 0;
  margin-right: 0px;
  color: #ffffffCC;
  float: left;
  font-size: 10px;
  line-height: 10px;
  height: 100%;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }

  &::before {
    padding: 4px;
    border-radius: 50px;
  }

}

.failed {


  &::before {
    background-color: #870F0F;
  }

}

.errorTooltip {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: 12px;
  line-height: 14px;

  border-radius: 5px;
  padding: 10px 7px;
  right: 0px;
  bottom: 43px;
  color: #ffffff;
  background: #870f0f;
  width: max-content;
  max-width: 210px;

  z-index: 2;

  &::after {

    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -6px;
    right: 17px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #870f0f;

  }

}

.errorBorder {

  position: absolute;
  border: 1px solid #870f0f;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;

}

